<!DOCTYPE html>
<html>

<head>
    <style type="text/css">
        body {
          background-color: #f1f2f6;
          color: #222f3e;
          font-family: 'Helvetica', 'Arial', sans-serif;
        }
    
        h1, h2, h3, h4, h5, p {
          margin-bottom: 0px;
        }
    
        #slide {
          margin: auto;
          height: 60%;
          width: 80%;
          position: fixed;
          top:0;
          bottom:0;
          left:0;
          right:0;
        }
    </style>
    <title>Real-time Slides Tutorial | Show</title>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <div id="slide">
        <h1>Welcome To Cummin Pointless V 2.0</h1>
        <p>This time its boogaloo</p>
    </div>
    <script type="text/javascript">

        const socket = io();

        socket.on('update slide', (html) => {
            document.querySelector('#slide').innerHTML = html;
        })

    </script>
</body>

</html>